td.phrases {
	background: lightgray;
}
td.phrases > table > tr:hover {
	background: #f0f0f0;
}
td.phrases > table > tr.current {
	background: white;
}
td.workarea {
	vertical-align: top;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
}
